@model IEnumerable<MvcMessageLogger.Models.User>

<h1>Users</h1>

@if (Model.Any() != false)
{
    @foreach (var user in Model)
    {
        <div class="user-info">
            <p><strong>@user.Name</strong>: <a href="/users/@user.Id">@user.Username</a></p>
            <form action="/Users/@user.Id" method="get">
                <button type="submit">Login</button>
            </form>
        </div>

    }
}
else
{
    <p>No data available.</p>
}

